<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.3.19" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.3.34" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="YamlDotNet.Core" version="1.1.16" targetFramework="net45" />
  <package id="YamlDotNet.Core" version="1.1.17" targetFramework="net40" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.15" targetFramework="net45" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.17" targetFramework="net40" />
</packages>